altgraph==0.17
appdirs==1.4.4
asgiref==3.2.10
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1
decorator==4.4.2
distlib==0.3.1
Django==3.1.1
django-crispy-forms==1.9.2
django-widget-tweaks==1.4.8
filelock==3.0.12
future==0.18.2
idna==2.10
importlib-metadata==2.0.0
pefile==2019.4.18
Pillow==7.2.0
pycparser==2.20
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
PyQt5==5.15.0
PyQt5-sip==12.8.1
PyQtChart==5.15.0
PyQtWebEngine==5.15.0
python-telegram-bot==12.8
pytz==2020.1
pywin32-ctypes==0.2.0
QScintilla==2.11.5
rarfile==4.0
requests==2.24.0
six==1.15.0
source==1.2.0
sqlparse==0.3.1
tornado==6.0.4
urllib3==1.25.10
virtualenv==20.0.33
wenv==0.2.1
zipp==3.3.0
