{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}
    افزودن مقاله
{% endblock %}
{% block main %}
    <form method="post">{% csrf_token %}
        <div class="card card-primary" style="padding: 3%;margin-right: 5%;margin-left: 5%;">
             <div class="form-row">
                 <div class="form-group col-md-6 mb-0">
                    {{ form.title|as_crispy_field }}
                 </div>
                 {% if user.is_superuser %}
                 <div class="form-group col-md-6 mb-0">
                     {{ form.author|as_crispy_field }}
                 </div>
                 {% endif %}
            </div>
            {{ form.paragraph|as_crispy_field }}
            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                    {{ form.category|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.slug|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.date|as_crispy_field }}
                </div>
            </div>

        {% if user.is_superuser %}
            <div class="form-row">
                <div class="form-group col-md-5 mb-0">
                    {{ form.status|as_crispy_field }}
                </div>
            </div>
        {% endif %}
            <div class="form-row">
                <div class="form-group col-md-5 mb-0">
                    {{ form.is_special|as_crispy_field }}
                </div>
            </div>
            <div>
            <button class="btn btn-success" type="submit">ارسال مقاله</button>
            {% if user.is_superuser and request.resolver_match.kwargs.pk %}
            <a href="{% url 'account:article-delete' request.resolver_match.kwargs.pk %}" class="btn btn-danger" type="submit">حذف مقاله</a>
            {% endif %}
            </div>
        </div>

    </form>
{% endblock %}