{% extends 'portfolio/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block top %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Elman Blog | about</title>
{% endblock %}

{% block header %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'portfolio/img/about-bg.jpg'%})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{% trans 'درباره ما' %}</h1>
            <span class="subheading">{% trans 'ما چه کسی هستیم ؟' %}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block main %}
  <!-- Main Content -->
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Hello! I am Elman! I love code!</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;margin: 10%">
          <img src="{% static 'portfolio/img/post-sample-image.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
  </div>
{% endblock %}
