{% extends 'portfolio/base.html' %}
{% load static %}
{% load comment_tags %}

{% block top %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

  <title>Elman Blog | post</title>
{% endblock %}

{% block header%}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'portfolio/img/post-bg.jpg'%})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ object.title }}
              {% if object.is_special %}
                  <span class="badge badge-danger" style="font-size: 18px">ویژه</span>
              {% endif %}
            </h1>
            <span class="meta"> نوشته شده توسط
              <a href="#">{{ object.postadby }}</a>
              در {{ object.date }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block main %}
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-justify">
            {% if object.is_special %}
                {% if user.is_authenticated and user.is_special_user or user == object.author or user.is_superuser %}
                    {{ object.paragraph|safe }}
                {% else %}
                    {{ object.paragraph|striptags|truncatewords:30 }}
                    <p class="alert alert-warning"> این مقاله ویژه است ! برای مشاهده آن همین حالا  <a  href="#" class="special_article">اشتراک ویژه</a>  تهیه نمایید!!</p>
                {% endif %}
            {% else %}
                {{ object.paragraph|safe }}
            {% endif %}
            
            {% render_comments object request %}
            {% include_bootstrap %}
            {% include_static %}
        </div>
      </div>
    </div>
  </article>
{% endblock %}
