@import url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.css');

@font-face {
  font-family: Sahel;
  src: url('Sahel.eot');
  src: url('Sahel.eot?#iefix') format('embedded-opentype'),
       url('Sahel.woff2') format('woff2'),
       url('Sahel.woff') format('woff'),
       url('Sahel.ttf') format('truetype');
  font-weight: normal;
}

.myfont , .focus-input100::after {
	font-family: Sahel !important;
}

body{
    direction: rtl;
    text-align: right;
	font-size:18px !important;
    font-family: "Sahel" !important;
}
body a {
    font-family: "Sahel" !important;
}

body h1 {
	font-family: "Sahel" !important;
	font-weight:800;
}

.navbar-nav {
    margin-left: initial !important;
    margin-right: auto;
}

.post-meta {
    text-align: left;
}

.pager-botton {
    float: left !important;
}

nav {
	text-align: center;
}

nav ul ul {
	display: none;

}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
	background-color: #777676 !important;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	float: right;
	position: relative;
}

nav ul li:hover {
	color: #777777 ;
}

nav ul li:hover a {
	color: #9b9999 ;
}

nav ul li a {
	display: block;
	padding: 15px 32px;
	text-decoration: none;
}

nav ul ul {
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	right: 0;
	width: 200px;
}
nav ul ul li {
	float: none;
	border-bottom: 1px solid #b7b7b7;
	position: relative;
}
nav ul ul li a {
	padding: 15px 40px;
	color: #ffffff !important;
}

#mainNav.is-fixed .navbar-nav>li.nav-item>a{color:white !important;}
#mainNav.is-fixed .navbar-nav>li.nav-item>a:focus,#mainNav.is-fixed .navbar-nav>li.nav-item>a:hover{color: #cfcfcf !important;}
#mainNav .navbar-nav>li.nav-item>a:focus,#mainNav .navbar-nav>li.nav-item>a:hover{color: #cfcfcf !important}

nav ul ul li a:hover {
	color: #cfcfcf !important;
    border-radius: 10px;
}

nav ul ul ul {
	position: absolute;
	right: 100%;
	top:0;
}

.btn-show-pass {
	right: initial !important;
	left: 0 !important;
}

.errors {
	color: red;
	background-color: #ffc8c8;
	border-radius: 10px;
	padding: 10px;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
}